.navbar {
  height: 5rem;
  background-color: #eaeaea;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 2.5rem;

    display: flex;
    align-items: center;
    justify-self: start;
  }

  position: relative;
  .menu {
    position: absolute;
    height: 5rem;
    right: 2rem;
    font-size: 3rem;
  }

  height: 100%;
  ul {
    font-size: 2.5rem;
    list-style: none;

    display: flex;
    gap: 2rem;

    li {
      cursor: pointer;
      line-height: 1;

      a:link,
      a:visited {
        color: inherit;
        height: 100%;
        text-decoration: none;
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
  }
}

.sidebar {
  display: none;
  position: absolute;
  right: 0;
  background-color: #333;
  height: 100%;
  width: 0;
  padding: 2rem;
  z-index: 1;

  .close {
    font-size: 2.8rem;
    color: #eaeaea;
    height: 3rem;
    width: 3rem;
    padding: 0.8rem;
  }

  ul {
    font-size: 2.4rem;
    color: #eaeaea;
    width: fit-content;
    list-style: none;

    display: flex;
    gap: 2.8rem;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    li {
      a:link,
      a:visited {
        color: inherit;
        text-decoration: none;
        display: flex;
        gap: 0.8rem;
        align-items: center;
      }
    }
  }
}

.sidebar-active {
  display: block;
  width: 25rem;
}
